body {
  height: 200vh;
}

.drawer {
  position: fixed;
  left: 10px;
  top: 10px;
}
.drawer--success {
  left: initial;
  right: 10px;
}
.drawer--danger {
  left: initial;
  right: 250px;
}
.drawer__item {
  width: 200px;
}

.btn__container {
  display: table;
  height: 100vh;
  width: 100%;
}
.btn__container__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
