<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ page.project_name }}</title>
  <meta name="description" content="{{ page.description }}"/>
  <meta name="robots" content="index,follow,archive"/>
  <meta property="og:image" content="http://www.phptherightway.com/images/og-logo.png"/>
  <meta property="og:title" content="{{ page.project_name }}"/>
  <meta property="og:description" content="{{ page.project_description }}"/>
  <meta property="og:url" content="http://sourcescript.github.io/alt-notify"/>
  <meta property="og:site_name" content="{{ page.project_name }}"/>
  <meta property="og:type" content="website"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link href='//fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}styles/all.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}styles/print.css" media="print, handheld"/>
  <link rel="stylesheet" href="{{ site.baseurl }}styles/syntax.css"/>
  <link rel="icon" href="{{ site.baseurl }}images/favicon.png?version=1.0" type="image/png"/>
</head>
<body>
  <nav class="site-navigation">
    <div class="build-date">Last Updated: {{ site.time }}</div>
    <ul>
      <li>
        <a href="#site-header">Introduction</a>
        <ul>
          <li><a href="#important-notes">SemVer</a></li>
        </ul>
      </li>
      {% assign lastIsChild = false %}
        {% for post in site.posts reversed %}
          {% if post.isChild != true %}
            {% if insideSection %}
              </ul>
              </li>
              {% assign insideSection = false %}
            {% endif %}
          {% endif %}
        <li><a href="#{{ post.anchor }}">{{ post.title }}</a>
        {% if post.isChild %}
          </li>
        {% else %}
          <ul>
          {% assign insideSection = true %}
        {% endif %}
          {% assign lastIsChild = post.isChild %}
        {% endfor %}
          </ul>
        </li>
    </ul>
  </nav>
  <div class="site-content">
    <a class="fork-me" href="https://github.com/sourcescript/alt-notify">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>

    <header class="site-header" id="site-header">
      <hgroup>
        <h1 class="site-title"><a href="/">{{ page.project_name }}</a></h1>
        <h2 class="site-slogan">{{ page.project_description }}</h2>
      </hgroup>
    </header>
    {{ content }}
  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/scripts/setup.js"></script>
</body>
</html>
